// Application-level settings for the Runner target.

// The application's name. This is also the default title of the Flutter window.
PRODUCT_NAME = 2048 Nova

// The application's bundle identifier.
PRODUCT_BUNDLE_IDENTIFIER = com.sanskarin.nova2048

// Copyright displayed in application information.
PRODUCT_COPYRIGHT = Copyright © 2026 Sanskar. All rights reserved.
